body {
  margin: 0;
}
.d-none{
  display: none;
}
.bg-btn{
  background-color: #FF4E10;
}
.bg-27355C {
  background-color: #27355c !important;
}
.img-tropy {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
}
.tropy-size{
width: 100px;
}
.brainSize{
  height: 128px;
  width: 128px;
}
.nav-link {
  color: #d8dce8;
  font-size: large;
}
.nav-link:hover {
  color: black;
}
.start-text-countainer {
  height: 100%;
}
.align-itemsC{
  align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;

} 
.bg-img {
  background-image: url(img/brainbg.jpg);
  background-position: center;
  background-size: unset;
  width: 100%;
  height: 100%;
}
.no-border {
  border-radius: unset !important;
}
.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.buttonflex-end {
  display: flex;
  justify-content: flex-end !important;
  margin-top: 16px;
}
.countainer {
  display: flex;
  background-color: wheat !important;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.quizCard {
  max-width: 40rem;
  width: 40rem;
  display: flex;
  flex-direction: row;
  height: 30rem;
  max-height: 35rem;
}

.question-footer {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quiz-answer-card:hover {
  cursor: pointer;
  background-color: #efefef;
}

.bg-success,
.bg-danger {
  color: white;
}

.buttonRow {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.card-question-site {
  height: 100%;
  justify-content: space-around;
  
}

@media only screen and (max-width: 650px){
  .quizCard {
    min-width: 100% !important;
    display: flex;
    flex-direction: row;
    min-height: 100% !important;
  }
.progress{
  top: 0;
}
.buttonflex-end {
  justify-content: center !important;
}
}
